@use "./variables";

.collections {
  &__subtitle {
    margin: 10px 0 0 0;

    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 38px;
    line-height: 47px;
  }

  &__list {
    margin: 40px 0 0 0;

    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: #fafafa;

    width: 344px;
    height: 434px;
  }

  &__image {
    margin: 0 0 40px 0;

    display: block;
  }

  &__content-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  &__date {
    font-family: "Space Grotesk";
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;

    color: variables.$font-color-secondary-light;
  }

  &__title-card {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1.2px;

    text-align: center;
  }

  &__link {
    font-family: "Poppins";
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.2px;

    color: variables.$font-color-secondary-light;
    text-decoration: underline;
  }
}
