.grid {
  display: grid;
  grid-template-columns: repeat(32, 1fr);

  &--1-9 {
    grid-column: 1 / span 8;
  }

  &--9-24 {
    grid-column: 9 / span 16;
  }

  &--25-32 {
    grid-column: 25 / span 8;
  }
}
