@use "./variables";

.photobook {
  &__item {
    &--text {
      position: relative;
    }
  }

  &__image {
    width: 100%;
    height: 547px;
  }

  &__title {
    margin: 0 0 10px 0;

    font-family: "Space Grotesk";
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;

    color: variables.$light-color;

    letter-spacing: 0.13em;
  }

  &__subtitle {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;

    color: variables.$light-color;
  }

  &__textbox {
    position: absolute;
    bottom: 60px;
    left: 50px;
  }
}
