@use "./variables";

.section {
  padding: 100px 0 100px 0;

  &__line {
    position: relative;
    display: inline-block;

    left: 306px;

    font-size: 15px;
    line-height: 22px;

    &:before {
      content: "";
      position: absolute;
      left: -90px;
      top: 50%;
      transform: translateY(-50%);
      width: 80px;
      height: 1px;
      background-color: variables.$secondary-color;
    }
  }
}
