$primary-color: #000000;
$secondary-color: #6c5ccc;
$light-color: #f8f9fa;
$font-color-primary: #000000;
$font-color-secondary-light: #7a7a7a;

$main-font: "Space Grotesk", Roboto;
$secondary-font: Roboto, sans-serif;
$rare-font: Poppins, Roboto;
