* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto;
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: max-content;
}

li {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
}
.grid--1-6 {
  grid-column: 1/span 8;
}
.grid--7-13 {
  grid-column: 9/span 16;
}
.grid--14-24 {
  grid-column: 25/span 8;
}

.ui-line {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}
.ui-line__border {
  width: 80px;
  height: 1px;
  background-color: #6c5ccc;
  pointer-events: none;
  margin: 0 10px 0 0;
}

.header {
  background-image: url(./images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}
.header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  margin: 0 0 200px 0;
  height: 85px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 17px;
  line-height: 24px;
}
.header__block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__logo-container {
  gap: 6px;
}
.header__burger-container {
  gap: 15px;
}

.container {
  padding: 0 15px 0 15px;
  margin: 0 auto;
  max-width: 1150px;
}

.icon {
  display: flex;
  flex-direction: row;
  line-height: 1;
  vertical-align: middle;
}
.icon--logo {
  gap: 6px;
}
.icon--burger {
  gap: 15px;
}

.hero {
  position: relative;
  width: 100%;
  color: #ffffff;
}
.hero__title {
  position: relative;
  left: 206px;
  width: max-content;
  font-size: 66px;
  font-family: "Space Grotesk", sans-serif;
}
.hero__transparent-text {
  color: transparent;
  -webkit-text-stroke: 1px #f8f9fa;
}
.hero__subtitle {
  position: relative;
  display: inline-block;
  left: 306px;
  font-size: 15px;
  line-height: 22px;
}
.hero__subtitle:before {
  content: "";
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background-color: #f8f9fa;
}

.button__hero-slide {
  border: none;
  padding: 0;
  margin: 0;
  background: 0;
  color: inherit;
  cursor: pointer;
}
.button__hero-slide--left {
  position: absolute;
  top: 100px;
  left: 62px;
}
.button__hero-slide--right {
  position: absolute;
  top: 100px;
  right: 62px;
}

.section {
  padding: 100px 0 100px 0;
}
.section__line {
  position: relative;
  display: inline-block;
  left: 306px;
  font-size: 15px;
  line-height: 22px;
}
.section__line:before {
  content: "";
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background-color: #6c5ccc;
}

.mission__box-section {
  display: flex;
  gap: 90px;
}
.mission__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission__title {
  font-size: 13px;
  color: #6c5ccc;
  line-height: 15px;
}
.mission__lead {
  margin: 10px 0 0 0;
  font-family: "Space Grotesk";
  font-size: 38px;
  font-weight: 700;
  width: 638px;
  line-height: 47px;
}
.mission__text {
  margin: 0 0 30px 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #7a7a7a;
  width: 377px;
}
.mission__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #6c5ccc;
  font-family: "poppins";
}

.features__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}
.features__list {
  display: block;
  width: 353px;
}
.features__list:not(:last-child) {
  margin: 0 10px 0 0;
}
.features__icon {
  display: block;
  margin: 0 0 30px 0;
}
.features__title {
  margin: 0 0 20px 0;
  font-family: "Space Grotesk";
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}
.features__text {
  width: 276px;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #7a7a7a;
}

.ideology {
  background-image: url(./images/section-ideology.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 333px;
  width: 100%;
}
.ideology__title {
  margin: 0 170px 10px 0;
  color: #6c5ccc;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.2em;
}
.ideology__text {
  margin: 0 170px 0 0;
  color: #f8f9fa;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 38px;
  line-height: 47px;
}

.edition__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.13em;
  color: #6c5ccc;
  font-family: "Space Grotesk";
}
.edition__subtitle {
  font-weight: 700;
  font-size: 30px;
  font-family: "Space Grotesk";
}

.photobook__item--text {
  position: relative;
}
.photobook__image {
  width: 100%;
  height: 547px;
}
.photobook__title {
  margin: 0 0 10px 0;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #f8f9fa;
  letter-spacing: 0.13em;
}
.photobook__subtitle {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  color: #f8f9fa;
}
.photobook__textbox {
  position: absolute;
  bottom: 60px;
  left: 50px;
}

/*# sourceMappingURL=main.css.map */
