* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Space Grotesk", Roboto;
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: fit-content;
}

li {
  list-style: none;
}

p {
  width: fit-content;
}

.grid {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
}
.grid--1-8 {
  grid-column: 1/span 8;
}
.grid--9-24 {
  grid-column: 9/span 16;
}
.grid--25-32 {
  grid-column: 25/span 8;
}

.button {
  border: none;
}

.button__hero-slide {
  border: none;
  padding: 0;
  margin: 0;
  background: 0;
  color: inherit;
  cursor: pointer;
}
.button__hero-slide--left {
  position: absolute;
  top: 100px;
  left: 62px;
}
.button__hero-slide--right {
  position: absolute;
  top: 100px;
  right: 62px;
}

.ui-line {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}
.ui-line__border {
  width: 80px;
  height: 1px;
  background-color: #6c5ccc;
  pointer-events: none;
  margin: 0 10px 0 0;
}
.ui-line__title {
  font-size: 13px;
  color: #6c5ccc;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.13em;
}

.transparent-title {
  color: transparent;
  -webkit-text-stroke: 1px #f8f9fa;
}

.header {
  background-image: url(./images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}
.header__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  margin: 0 0 200px 0;
  height: 85px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 17px;
  line-height: 24px;
}
.header__block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__logo-container {
  gap: 6px;
}
.header__burger-container {
  gap: 15px;
}

.container {
  padding: 0 15px 0 15px;
  margin: 0 auto;
  max-width: 1150px;
  height: 100%;
}

.icon {
  display: flex;
  flex-direction: row;
  line-height: 1;
  vertical-align: middle;
}
.icon--logo {
  gap: 6px;
}
.icon--burger {
  gap: 15px;
}

.hero {
  position: relative;
  width: 100%;
  color: #ffffff;
}
.hero__title {
  position: relative;
  left: 206px;
  width: max-content;
  font-size: 66px;
  font-family: "Space Grotesk", sans-serif;
}
.hero__subtitle {
  position: relative;
  display: inline-block;
  left: 306px;
  font-size: 15px;
  line-height: 22px;
}
.hero__subtitle:before {
  content: "";
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background-color: #f8f9fa;
}

.section {
  padding: 100px 0 100px 0;
}
.section__line {
  position: relative;
  display: inline-block;
  left: 306px;
  font-size: 15px;
  line-height: 22px;
}
.section__line:before {
  content: "";
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 1px;
  background-color: #6c5ccc;
}

.mission__box-section {
  display: flex;
  gap: 90px;
}
.mission__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission__lead {
  margin: 10px 0 0 0;
  font-size: 38px;
  font-weight: 700;
  width: 638px;
  line-height: 47px;
}
.mission__text {
  margin: 0 0 30px 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #7a7a7a;
  width: 377px;
}
.mission__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #6c5ccc;
  font-family: Poppins, Roboto;
}

.features__content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.features__list {
  display: block;
  width: 353px;
  padding: 0 40px 0 40px;
}
.features__item {
  width: fit-content;
}
.features__icon {
  display: block;
  margin: 0 0 30px 0;
}
.features__title {
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}
.features__text {
  width: 262px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 15px;
  color: #7a7a7a;
}

.ideology {
  background-image: url(./images/section-ideology.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 333px;
  width: 100%;
}
.ideology__title {
  margin: 0 170px 10px 0;
  color: #6c5ccc;
  font-family: Poppins, Roboto;
  font-weight: 600;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.2em;
}
.ideology__text {
  margin: 0 170px 0 0;
  color: #f8f9fa;
  font-weight: 700;
  font-size: 38px;
  line-height: 47px;
}

.photobook__item-text {
  position: relative;
}
.photobook__image {
  width: 100%;
  height: 547px;
}
.photobook__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.13em;
  color: #6c5ccc;
}
.photobook__subtitle {
  margin: 0 0 100px 0;
  font-weight: 700;
  font-size: 30px;
}
.photobook__secondary-title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #f8f9fa;
  letter-spacing: 0.13em;
}
.photobook__secondary-subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  color: #f8f9fa;
}
.photobook__textbox {
  position: absolute;
  bottom: 60px;
  left: 50px;
}

.collections__subtitle {
  margin: 10px 0 0 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 47px;
}
.collections__list {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.collections__item {
  background-color: #fafafa;
  width: 344px;
  height: 434px;
}
.collections__image {
  margin: 0 0 40px 0;
  display: block;
}
.collections__content-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.collections__date {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #7a7a7a;
}
.collections__title-card {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 1.2px;
  text-align: center;
}
.collections__link {
  font-family: Poppins, Roboto;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.2px;
  color: #7a7a7a;
  text-decoration: underline;
}

.testimonials {
  width: 100%;
}
.testimonials__content {
  display: flex;
}
.testimonials__button-swipe {
  background-color: transparent;
}
.testimonials__box-1 {
  display: flex;
  align-items: center;
  justify-content: end;
  background: rgba(237, 234, 234, 0.6);
  width: 100%;
  height: 493px;
}
.testimonials__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 120px;
  width: 170px;
}
.testimonials__profile-top {
  margin: 0 0 30px 0;
  display: flex;
  gap: 10px;
}
.testimonials__review {
  margin: 0 40px 0 0;
  width: 729px;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 26px;
}
.testimonials__box-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 493px;
  width: 483vw;
  max-width: 483px;
  background: linear-gradient(152.07deg, #2e2e2e 8.37%, #000000 87.4%);
}
.testimonials__icon-swipe {
  display: block;
  height: 30px;
  width: 30px;
}
.testimonials__name {
  margin: 0 0 10px 0;
  font-family: Poppins, Roboto;
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  color: #ffffff;
}
.testimonials__metier {
  font-family: Poppins, Roboto;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.13em;
  color: #ffffff;
}
.testimonials__title {
  position: absolute;
  right: 0;
  display: flex;
  align-items: end;
  transform: rotate(-90deg);
  height: fit-content;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 1.2px;
  color: #7a7a7a;
}

.partners__subtitle {
  margin: 10px 0 0 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 47px;
}
.partners__list {
  margin: 120px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}
.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 257px;
  border: 1px solid #e2e2e2;
}
.partners__item:nth-child(4n) {
  border-right: none;
}
.partners__item:nth-last-child(-n+4) {
  border-bottom: none;
}
.partners__item:nth-child(4n+1) {
  border-left: none;
}
.partners__item:nth-child(-n+4) {
  border-top: none;
}
.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.partners__icon--1 {
  width: 80px;
  height: 79px;
}
.partners__icon--2 {
  width: 80px;
  height: 55px;
}
.partners__icon--3 {
  width: 129px;
  height: 35px;
}
.partners__icon--4 {
  width: 80px;
  height: 80px;
}
.partners__icon--5 {
  width: 130px;
  height: 35px;
}
.partners__icon--6 {
  width: 128px;
  height: 43px;
}
.partners__icon--7 {
  width: 129px;
  height: 30px;
}
.partners__icon--8 {
  width: 120px;
  height: 27px;
}

.footer {
  padding: 200px 0 88px 0;
  background-color: #000000;
  height: 100vh;
  font-family: Roboto, sans-serif;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.13em;
  color: #6c5ccc;
}
.footer__subtitle {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -0.02em;
  font-family: "Space Grotesk", Roboto;
}
.footer__subtitle-part {
  color: #ffffff;
}
.footer__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #7a7a7a;
}
.footer__address {
  width: fit-content;
}
.footer__address-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #7a7a7a;
}
.footer__copyright {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #7a7a7a;
}
.footer__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 24px;
  gap: 10px;
  border: 1px solid #6c5ccc;
  border-radius: 30px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
